# Env variables
ENV=development
API_URL=https://example.com

# EXPO
EXPO_SLUG=hangamai
EXPO_NAME="Hangamai"
EXPO_OWNER=siyushs-team
EXPO_PROJECT_ID=
EXPO_IOS_BUNDLE_IDENTIFIER=com.siyushs.hangamai
EXPO_ANDROID_PACKAGE=com.siyushs.hangamai
